address {
    display: block;
    font-style: italic;
    text-align: center;
    background-color: rgb(240, 164, 24);
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(155, 224, 236);
    color: white;
}

aside {
    width: 15%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: rgb(247, 211, 211);
}

h2 ,p{
    margin: 20px;
    padding: 5px;
}

h1 {
    text-align: center;
}

.fondo {
    margin: 0;
    padding: 10px;
    background-color: rgb(243, 193, 99);
}

.fondonav {
    background-color: rgb(255, 255, 255); ;
    text-align: center;
}

.fondotecnologias {
    margin: 0;
    padding: 10px;
    background-color: rgb(99, 190, 243);
}

.fondo2 {
    background: white;
}


* {
    box-sizing: border-box;
}


.column {
    float:right;
    width: 33.33%;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}

li {
    margin-left: 20px; 
    padding: 5px;
}
